@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    https://localhost:7240/category/index
*@
@{
    var index = 0;
    var title = "Welcome to ASP.NET Core";
    var currentTime = DateTime.Now;
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <h1>@title</h1>
    <p>當前時間：@currentTime</p>
    @model List<Category> //引入資料來源
    <partial name="_Notification"/>
    <table class="table table-hover">
     
        <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Create">Create</a>
        <thead>
        <th scope="col">類別名稱</th>
        <th scope="col">顯示順序</th>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(u=>u.DisplayOrder)) //DisplayOrder 為table 中的欄位
            {
                var rowClass = index % 2 == 0 ? "table-primary" : "table-light";
                <tr class=@rowClass>
                    <td>@item.Name</td>
                    <td >@item.DisplayOrder</td>
                    <td  >
                        <a class="btn btn-warning" asp-area="" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="bi bi-pencil-square"></i> 編輯
                        </a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash-fill"></i>刪除
                        </a>                       
                    </td>
                </tr>
                index++;
            }
        </tbody>

    </table>
</body>
</html>